<!DOCTYPE html>
<html>
<head>
  <title>Proyectos</title>
</head>
<body>
  <%= render partial: 'layouts/menu' %>
  <h1 class="text-center pt-4">Mis proyectos</h1>
  <div class="container d-flex justify-content-center pt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 w-100" style="width: 18rem;">
          <%= image_tag "cuppon.jpg", class:'card-img-top', alt: "captura de cuppon"%>
          <div class="card-body">
            <h5 class="card-title">CUPPON</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
            <a href="#" class="btn">Ver más</a>
          </div>
        </div>
        <div class="card mb-4 w-100" style="width: 18rem;">
          <%= image_tag "iguana-page.jpg", class:'card-img-top', alt: "captura de iguana page"%>
          <div class="card-body">
            <h5 class="card-title">IGUANA PAGE</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
            <a href="#" class="btn">Ver más</a>
          </div>
        </div>
        <div class="card mb-4 w-100" style="width: 18rem;">
          <%= image_tag "suricata.jpg", class:'card-img-top', alt: "captura de suricata"%>
          <div class="card-body">
            <h5 class="card-title">SURICATA</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
            <a href="#" class="btn">Ver más</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4 w-100" style="width: 18rem;">
          <%= image_tag "viajes-chile.jpg", class:'card-img-top', alt: "captura de viajes Chile"%>
          <div class="card-body">
            <h5 class="card-title">VIAJES CHILE</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
            <a href="#" class="btn">Ver más</a>
          </div>
        </div>
        <div class="card mb-4 w-100" style="width: 18rem;">
          <%= image_tag "ricomida.jpg", class:'card-img-top', alt: "captura de Ricomida"%>
          <div class="card-body">
            <h5 class="card-title">RICOMIDA</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
            <a href="#" class="btn">Ver más</a>
          </div>
        </div>
        <div class="card mb-4 w-100" style="width: 18rem;">
          <%= image_tag "olivia-ros.jpg", class:'card-img-top', alt: "captura de Olivia Ros"%>
          <div class="card-body">
            <h5 class="card-title">OLIVIA ROS</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
            <a href="#" class="btn">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
